.cards {
    li {
        overflow: hidden;
        border: 1px solid #ddd;
        border-radius: 3px;
		
		.card-image {
			
		}
		.card-content {
	        padding: 0.75rem;
		}

        h2 {
            background-color: #eee;
            padding: 0.5rem;
            border-bottom: 1px solid #ddd;
			margin: 0;
			font-size: 1.3rem;
        }
    }
}
