.event {
    .event-description {
        margin-top: 1rem;
    }
}

.event-listing {
    @include screen(tablet) {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    list-style-type: none;
    margin: 0;
    padding: 0;
	
	@include screen(tablet) {
		&.row-2 {
			.event-item {
				width: calc(50% - 1rem);
			}
		}
		&.row-3 {
			.event-item {
				width: calc(33.33333333% - 1rem);
			}
		}
		&.row-4 {
			.event-item {
				width: calc(25% - 1rem);
			}
		}
		&.row-5 {
			.event-item {
				width: calc(20% - 1rem);
			}
		}
	}
    
    .event-item {
        border: 1px solid #e6e6e6;
        border-bottom-width: 2px;
        width: 100%;
		margin: 0.5rem;

        .event-image {
            background-color: #e6e6e6;
        }
        .event-summary {
            background-color: #fff;
            padding: 1em;
                    
            p:last-child {
                margin-bottom: 0;
            }
            .event-date {
                font-size: 0.9em;
                color: #666;
            }
        }
    }
}
