@mixin screen($size) {
    $desktop: "(min-width: 1000px)";
    $tablet: "(min-width: 750px)";
    $mobile: "(max-width: 749px)";
	$ipad-portrait: "(min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)";
	$ipad-landscape: "(min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";	

    @if $size == desktop {
        @media only screen and #{$desktop} {
            @content;
        }
    }
    @else if $size == tablet {
        @media only screen and #{$tablet} {
            @content;
        }
    }
    @else if $size == mobile {
        @media only screen and #{$mobile} {
            @content;
        }
    }
	@else if $size == ipad-portrait {
        @media only screen and #{$ipad-portrait} {
            @content;
        }
	}	
	@else if $size == ipad-landscape {
        @media only screen and #{$ipad-landscape} {
            @content;
        }
	}	
	@else if $size == print {
        @media print {
            @content;
        }
	}	
    @else {
        @media only screen and #{$size} {
            @content;
        }
    }
}

/* Outdated print mixin */
@mixin print {
    @media print {
        @content;
    }
}

@mixin abs-position ($top, $right, $bottom, $left) {
    position: absolute; 
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
