.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    @include print {
        display: none;
    }
    
    li {
        display: flex;
        height: 36px;
        min-width: 36px;
        margin: 0 0.25em 0.25em 0;
        overflow: hidden;

        a {
            display: flex;
            border-radius: 3px;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            text-decoration: none;

            &[rel="prev"],
            &[rel="next"] {
                padding: 0 0.75em;
            }
        }
    }
}