.video-banner {
    background-size: cover;
    position: relative;
    height: 500px;
    overflow: hidden;
    
    &.loading {
        .video-background {
            opacity: 0;
        }
    }
    .video-background {
        transition: opacity 0.5s ease;
        position: absolute;
        top: 50%;
        left: 0;
        padding-top: 56.25%;
        width: 100%;
        transform: translateY(-50%);
    
        .video-foreground,
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none; 
        }
    }
    &.vimeo,
	&.youtube {
		iframe {
			width: 100vw;
			height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
			@include screen(tablet) {
				min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
			}
			min-height: 100vh;
			position: absolute;
			left: 50%;
		}
    }
}
